<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- CONFIGURAÇÕES DE CONEXÃO COM O BANCO DE DADOS -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/servidor</property>
<!--         <property name="connection.url">jdbc:mysql://node110816-servidoroutro.jelasticlw.com.br/servidor</property> -->
        <property name="connection.username">root</property>
<!--         <property name="connection.password">LYQiqn18714</property> -->
        <property name="connection.password">q1w2e3r4</property>

        <!-- Pool de Conexões -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- GERENCIAMENTO DO CONTEXTO DAS SESSÕES -->
        <property name="current_session_context_class">thread</property>

        <!-- Cache de segundo nível  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Mostra as SQL's geradas -->
        <property name="show_sql">true</property>

        <!-- Cria as tabelas do banco de dados -->
        <property name="hbm2ddl.auto">update</property>

       <!--  Mapeamento das entidades -->
       <mapping class = "br.com.servidor.domain.Ponto"/>
       <mapping class = "br.com.servidor.domain.Linha"/>
       <mapping class = "br.com.servidor.domain.Dispositivo"/>
       <mapping class = "br.com.servidor.domain.Ponto_Linha"/> 
       <mapping class = "br.com.servidor.domain.Linha_Dispositivo"/>      

    </session-factory>

</hibernate-configuration>